<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= campground.name %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/show.css" />
  </head>
  <body>
    <header>
      <%- include("../partials/header"); %>
    </header>

    <main>
      <div class="container">
        <div class="campground-section">
          <h2 class="part name"><%= campground.name %></h2>
          <div class="part image">
            <img src="<%= campground.imageURL %>" alt="" />
          </div>

          <div class="part desc">
            <%= campground.description %>
          </div>

          <div class="part creator">
            <em>Submitted by <%= campground.author.username %></em>
          </div>

          <% if(user && campground.author.id.equals(user._id)) { %>

          <div class="buttons">
            <a href="/campgrounds/<%= campground._id %>/edit" class="edit"
              >Edit</a
            >

            <form
              action="/campgrounds/<%= campground._id %>?_method=DELETE"
              method="POST"
            >
              <button class="delete">Delete</button>
            </form>
          </div>

          <% } %>
        </div>

        <div class="part comment-section">
          <h3 class="comment-heading">Comments</h3>
          <a
            href="/campgrounds/<%= campground._id %>/comments/new"
            class="btn-comment"
            >Leave a comment</a
          >
          <% campground.comments.forEach((comment) => { %>
          <div class="comment">
            <h4 class="author"><%= comment.author.username %></h4>
            <p>
              <%= comment.text %>
            </p>

            <% if(user && comment.author.id.equals(user._id)) { %>
            <div class="comment-buttons">
              <a
                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                class="edit-comment"
                >Edit</a
              >

              <form
                action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="delete-comment">Delete</button>
              </form>
            </div>
            <% } %>
          </div>

          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
