<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Campground | YelpCamp</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/new.css" />
  </head>

  <body>
    <header>
      <%- include("../partials/header"); %>
    </header>
    <div class="form-container">
      <h2 class="heading">Edit campground</h2>
      <form
        action="/campgrounds/<%= campground._id %>?_method=PUT"
        method="POST"
      >
        <input
          type="text"
          name="campground[name]"
          placeholder="Name"
          autocomplete="off"
          value="<%= campground.name %>"
        />
        <br />
        <input
          type="text"
          name="campground[imageURL]"
          placeholder="Image URL"
          autocomplete="off"
          value="<%= campground.imageURL %>"
        />
        <br />
        <textarea
          name="campground[description]"
          cols="30"
          rows="10"
          placeholder="Description"
          nore
        >
<%= campground.description.trim() %></textarea
        >
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
